body {
    background-image: url('./loginbg.png');
    background-size: 100%;
    font-size: 0.75rem;
  }

  #loginBoxTitle {
    color:#000000;
    font-weight: bold;
    font-size: 1.9rem;
    text-transform: uppercase;
    padding: 5px;
    margin-bottom: 20px;
    background: linear-gradient(to right, #dc143c, #87c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  input[type="button"] {
    font-size: 0.9rem;
    /* padding: 10px 120px; */
    width: 200px;
    height: 40px;    
  }
  /* input[type="button2"] {
    font-size: 0.9rem;
    padding: 10px 120px;
    width: 200px;
    height: 40px;
} */

  .login-box {
    margin:150px auto;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding:50px 30px;
    border:5px solid #ffffdd;width:350px;
    filter: drop-shadow(0px 0px 10px rgba(255,99,132,0.5));
  }

  .form-group label {
    font-size: 0.75rem;
    margin:5px 0;
  }

  #login-btn-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:10px;
    margin-bottom: 10px;
  }
