

.product-info {
    font-size: 30px;
    margin: 100px 0 150px 0 ;
    font-family: 'Spoqa-Light';
    /* 다른 스타일을 적용하고자 하는 경우 추가적인 CSS 스타일을 여기에 작성합니다 */
}

.user-info {
    font-size: 20px;
    font-family: 'Spoqa-Light';
    /* margin-bottom: 30px; */
    /* 다른 스타일을 적용하고자 하는 경우 추가적인 CSS 스타일을 여기에 작성합니다 */
}

.bold-text {
    font-weight: 900;
    font-family: 'Spoqa-Bold'
}

.btn-cart {
background-color: white;
font-weight: 600;
font-size: 25px;
font-family: 'Shinb7';
padding: 8px 16px;
color: #0d6efd; 
/* border-style: dotted;
border-radius: 20px;
border-width: 1px; */
border-color: transparent;
/* background-clip: border-box;
-webkit-background-clip: border-box;
-moz-background-clip: border-box; */
}
