{% load static %}

	<!-- Navbar -->
	<style>
		.navbar4{
			background: linear-gradient(to right, #DC143C, #87c);
		}
		.nav-link4{
			color: white !important;
			font-family:'Shinb7';
			font-size: 30px;
		}
	</style>

	<nav class="navbar4 navbar-expand-lg navbar-light bg-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav2">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item">
					<a class="nav-link4"> 회원가입 </a>
				</li>
			</ul>
		</div>
	</nav>