{% load static %}
<link rel="stylesheet" href="{% static 'nav.css'%}">
	<!-- Navbar -->
	<style>
		.navbar3{
			background: linear-gradient(to right, #DC143C, #87c);
		}
		.nav-link3{
			color: white !important;
			font-family:'Shinb7';
			font-size: 30px;
		}
	</style>
	<nav class="navbar3 navbar-expand-lg navbar-light bg-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav2" aria-controls="navbarNav2" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav2">
			<ul class="navbar-nav mx-auto">
                <li class="nav-item">
					<a class="nav-link3" href="{% url 'common:mypage' %}">마이페이지</a>
				</li>
				<li class="nav-item">
					<a class="nav-link3" href="{% url 'common:createhistory' user_id=request.user.id %}">강의 내역</a>
				</li>
				<li class="nav-item">
					<a class="nav-link3" href="{% url 'common:orderhistory' user_id=request.user.id %}">주문 내역</a>
				</li>
			</ul>
		</div>
	</nav>