	<!-- Navbar -->
	<style>
		.navbar2{
			background: linear-gradient(to right, #DC143C, #87c);
		}
		.nav-link2{
			color: white !important;
			font-family:'Shinb7';
			font-size: 30px;
		}
	</style>
	<nav class="navbar2 navbar-expand-lg navbar-light bg-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav2" aria-controls="navbarNav2" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav2">
			<ul class="navbar-nav mx-auto">
                <li class="nav-item">
					<a class="nav-link2" href="#">전체</a>
				</li>
				<li class="nav-item">
					<a class="nav-link2" href="#">스포츠</a>
				</li>
				<li class="nav-item">
					<a class="nav-link2" href="#">IT</a>
				</li>
				<li class="nav-item">
					<a class="nav-link2" href="#">예술</a>
				</li>
                <li class="nav-item">
					<a class="nav-link2" href="#">일상생활</a>
				</li>
			</ul>
		</div>
	</nav>