{% load static%}
<!DOCTYPE html>
<html>
    <head>
        <title>SIGNUP</title>
        <link rel="stylesheet" href="{% static 'style_login.css'%}">
    </head>
    <body>
        <h1 align="center">회원가입</h1>
        <hr>
        <div>
            <b class="name">아이디</b><br>
            <input class="text" type="text" name="아이디" placeholder="ID"><br><br>
        </div>
        <div>
            <b class="name">비밀번호</b><br>
            <input class="text" type="password" name="비밀번호" placeholder="Password"><br><br>
        </div>
        <div>
            <b class="name">비밀번호 확인</b><br>
            <input class="text" type="password" name="비밀번호 확인" placeholder="Password Check"><br><br>
        </div>
        <div>
            <b class="name">이메일</b><br>
            <input class="text" type="email" name="이메일" placeholder="xxxxx@xxxxxx.xxxxx"><br>
            <input type="checkbox"> 이메일 수신동의<br><br>
        </div>
        <div>
            <b class="name">성별</b><br>
            <input type="checkbox"> 남자<br>
            <input type="checkbox"> 여자<br>
            <input type="checkbox"> 기타<br><br>
        </div>
        <div>
            <b class="name">생년월일</b><br>
            <input class="text" type="text" name="생년월일" placeholder="12345679"><br><br>
        </div>
        <div>
            <b class="name">전화번호</b><br>
            <input class="text" type="text" name="전화번호" placeholder="01012345678"><br><br>
        </div>
        <div>
            <b class="name">구분</b><br>
            <input type="checkbox"> 관리자<br>
            <input type="checkbox"> 판매자<br>
            <input type="checkbox"> 구매자<br><br>
        </div>
        <div>
            <button class="sign_up" type="button">Sign up</button>
        </div>
    </body>
</html>